{
  "openapi": "3.0.0",
  "info": {
    "title": "POS System API",
    "version": "1.0.0",
    "description": "Point of Sale System for Single Merchant - Multi Outlet with Cart Management",
    "contact": {
      "name": "Support Team",
      "email": "support@pos-system.com"
    }
  },
  "servers": [
    {
      "url": "https://api.pos-system.com/api/v1",
      "description": "Production Server"
    },
    {
      "url": "http://localhost:3000/api/v1",
      "description": "Development Server"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication endpoints (Register, Login, Logout, Me)"
    },
    {
      "name": "Merchant",
      "description": "Merchant management"
    },
    {
      "name": "Outlet",
      "description": "Outlet management"
    },
    {
      "name": "User",
      "description": "User/Employee management"
    },
    {
      "name": "Category",
      "description": "Category management"
    },
    {
      "name": "Product",
      "description": "Product management"
    },
    {
      "name": "Inventory",
      "description": "Inventory/Stock management"
    },
    {
      "name": "Cart",
      "description": "Shopping cart management"
    },
    {
      "name": "Transaction",
      "description": "Transaction processing"
    },
    {
      "name": "Dashboard Owner",
      "description": "Owner dashboard (full business overview)"
    },
    {
      "name": "Dashboard Admin",
      "description": "Admin dashboard (operational management)"
    },
    {
      "name": "Analytics",
      "description": "Analytics & insights"
    },
    {
      "name": "AI Insight",
      "description": "AI-powered analysis"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "statusCode": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "Operation successful"
          },
          "data": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "statusCode": {
            "type": "integer",
            "example": 400
          },
          "path": {
            "type": "string",
            "example": "/api/v1/products"
          },
          "message": {
            "type": "string",
            "example": "Product name is required"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "statusCode": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "Data retrieved successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array"
              },
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "total_pages": {
                "type": "integer"
              }
            }
          }
        }
      },
      "RegisterRequest": {
        "type": "object",
        "required": [
          "merchant",
          "user"
        ],
        "properties": {
          "merchant": {
            "type": "object",
            "required": ["name"],
            "properties": {
              "name": {
                "type": "string",
                "description": "Merchant/Business name"
              }
            }
          },
          "user": {
            "type": "object",
            "required": ["name", "email", "password"],
            "properties": {
              "name": {
                "type": "string",
                "description": "Full name of owner"
              },
              "email": {
                "type": "string",
                "format": "email",
                "description": "Owner email (unique)"
              },
              "password": {
                "type": "string",
                "minLength": 8,
                "description": "Password (min 8 characters)"
              }
            }
          }
        }
      },
      "RegisterResponse": {
        "type": "object",
        "properties": {
          "merchant": {
            "$ref": "#/components/schemas/Merchant"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "access_token": {
            "type": "string"
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "Merchant": {
        "type": "object",
        "properties": {
          "merchant_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateMerchantRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "Outlet": {
        "type": "object",
        "properties": {
          "outlet_id": {
            "type": "string",
            "format": "uuid"
          },
          "merchant_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["ACTIVE", "INACTIVE"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateOutletRequest": {
        "type": "object",
        "required": ["name", "address"],
        "properties": {
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["ACTIVE", "INACTIVE"],
            "default": "ACTIVE"
          }
        }
      },
      "UpdateOutletRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["ACTIVE", "INACTIVE"]
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "format": "uuid"
          },
          "merchant_id": {
            "type": "string",
            "format": "uuid"
          },
          "outlet_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string",
            "enum": ["OWNER", "ADMIN", "CASHIER"]
          },
          "status": {
            "type": "string",
            "enum": ["ACTIVE", "INACTIVE"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateUserRequest": {
        "type": "object",
        "required": ["name", "email", "password", "role"],
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 8
          },
          "role": {
            "type": "string",
            "enum": ["OWNER", "ADMIN", "CASHIER"]
          },
          "outlet_id": {
            "type": "string",
            "format": "uuid",
            "description": "Required for CASHIER role, nullable for OWNER/ADMIN"
          },
          "status": {
            "type": "string",
            "enum": ["ACTIVE", "INACTIVE"],
            "default": "ACTIVE"
          }
        }
      },
      "UpdateUserRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string",
            "enum": ["OWNER", "ADMIN", "CASHIER"]
          },
          "outlet_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": ["ACTIVE", "INACTIVE"]
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "category_id": {
            "type": "string",
            "format": "uuid"
          },
          "merchant_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateCategoryRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "UpdateCategoryRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "string",
            "format": "uuid"
          },
          "merchant_id": {
            "type": "string",
            "format": "uuid"
          },
          "category_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "float"
          },
          "status": {
            "type": "string",
            "enum": ["ACTIVE", "INACTIVE"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "category": {
            "$ref": "#/components/schemas/Category"
          }
        }
      },
      "CreateProductRequest": {
        "type": "object",
        "required": ["name", "sku", "price", "category_id"],
        "properties": {
          "name": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "float",
            "minimum": 0
          },
          "category_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": ["ACTIVE", "INACTIVE"],
            "default": "ACTIVE"
          }
        }
      },
      "UpdateProductRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "float",
            "minimum": 0
          },
          "category_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": ["ACTIVE", "INACTIVE"]
          }
        }
      },
      "Inventory": {
        "type": "object",
        "properties": {
          "inventory_id": {
            "type": "string",
            "format": "uuid"
          },
          "outlet_id": {
            "type": "string",
            "format": "uuid"
          },
          "product_id": {
            "type": "string",
            "format": "uuid"
          },
          "quantity": {
            "type": "integer",
            "minimum": 0
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "product": {
            "$ref": "#/components/schemas/Product"
          },
          "outlet": {
            "$ref": "#/components/schemas/Outlet"
          }
        }
      },
      "UpdateInventoryRequest": {
        "type": "object",
        "required": ["quantity"],
        "properties": {
          "quantity": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "BulkUpdateInventoryItem": {
        "type": "object",
        "required": ["inventory_id", "quantity"],
        "properties": {
          "inventory_id": {
            "type": "string",
            "format": "uuid"
          },
          "quantity": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "BulkUpdateInventoryRequest": {
        "type": "object",
        "required": ["items"],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BulkUpdateInventoryItem"
            }
          }
        }
      },
      "InventoryTransferRequest": {
        "type": "object",
        "required": ["product_id", "from_outlet_id", "to_outlet_id", "quantity"],
        "properties": {
          "product_id": {
            "type": "string",
            "format": "uuid"
          },
          "from_outlet_id": {
            "type": "string",
            "format": "uuid"
          },
          "to_outlet_id": {
            "type": "string",
            "format": "uuid"
          },
          "quantity": {
            "type": "integer",
            "minimum": 1
          }
        }
      },
      "Cart": {
        "type": "object",
        "properties": {
          "cart_id": {
            "type": "string",
            "format": "uuid"
          },
          "outlet_id": {
            "type": "string",
            "format": "uuid"
          },
          "user_id": {
            "type": "string",
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CartItem"
            }
          },
          "subtotal": {
            "type": "number",
            "format": "float"
          },
          "total_items": {
            "type": "integer"
          }
        }
      },
      "CartItem": {
        "type": "object",
        "properties": {
          "cart_item_id": {
            "type": "string",
            "format": "uuid"
          },
          "cart_id": {
            "type": "string",
            "format": "uuid"
          },
          "product_id": {
            "type": "string",
            "format": "uuid"
          },
          "quantity": {
            "type": "integer",
            "minimum": 1
          },
          "unit_price": {
            "type": "number",
            "format": "float"
          },
          "subtotal": {
            "type": "number",
            "format": "float"
          },
          "product": {
            "$ref": "#/components/schemas/Product"
          }
        }
      },
      "AddToCartRequest": {
        "type": "object",
        "required": ["product_id", "quantity"],
        "properties": {
          "product_id": {
            "type": "string",
            "format": "uuid"
          },
          "quantity": {
            "type": "integer",
            "minimum": 1
          }
        }
      },
      "UpdateCartItemRequest": {
        "type": "object",
        "required": ["quantity"],
        "properties": {
          "quantity": {
            "type": "integer",
            "minimum": 0,
            "description": "Set to 0 to remove item from cart"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "transaction_id": {
            "type": "string",
            "format": "uuid"
          },
          "outlet_id": {
            "type": "string",
            "format": "uuid"
          },
          "user_id": {
            "type": "string",
            "format": "uuid"
          },
          "transaction_number": {
            "type": "string"
          },
          "subtotal": {
            "type": "number",
            "format": "float"
          },
          "total": {
            "type": "number",
            "format": "float"
          },
          "status": {
            "type": "string",
            "enum": ["COMPLETED", "CANCELLED"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "outlet": {
            "$ref": "#/components/schemas/Outlet"
          },
          "cashier": {
            "$ref": "#/components/schemas/User"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionItem"
            }
          }
        }
      },
      "TransactionItem": {
        "type": "object",
        "properties": {
          "transaction_item_id": {
            "type": "string",
            "format": "uuid"
          },
          "transaction_id": {
            "type": "string",
            "format": "uuid"
          },
          "product_id": {
            "type": "string",
            "format": "uuid"
          },
          "quantity": {
            "type": "integer",
            "minimum": 1
          },
          "unit_price": {
            "type": "number",
            "format": "float"
          },
          "subtotal": {
            "type": "number",
            "format": "float"
          },
          "product": {
            "$ref": "#/components/schemas/Product"
          }
        }
      },
      "CreateTransactionRequest": {
        "type": "object",
        "properties": {
          "cart_id": {
            "type": "string",
            "format": "uuid",
            "description": "Optional: Use existing cart, or create from cart items"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["product_id", "quantity"],
              "properties": {
                "product_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "description": "Optional: Direct items without cart"
          }
        }
      },
      "OwnerDashboard": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "object",
            "properties": {
              "total_revenue": { "type": "number", "format": "float" },
              "total_transactions": { "type": "integer" },
              "total_orders": { "type": "integer" },
              "average_order_value": { "type": "number", "format": "float" },
              "total_products_sold": { "type": "integer" },
              "total_outlets": { "type": "integer" },
              "total_employees": { "type": "integer" },
              "total_products": { "type": "integer" },
              "revenue_growth": { "type": "number", "format": "float" },
              "transactions_growth": { "type": "number", "format": "float" }
            }
          },
          "sales_trend": {
            "type": "object",
            "properties": {
              "labels": {
                "type": "array",
                "items": { "type": "string" }
              },
              "datasets": {
                "type": "object",
                "properties": {
                  "revenue": {
                    "type": "array",
                    "items": { "type": "number" }
                  },
                  "transactions": {
                    "type": "array",
                    "items": { "type": "integer" }
                  }
                }
              },
              "summary": {
                "type": "object",
                "properties": {
                  "highest_revenue": { "type": "number" },
                  "lowest_revenue": { "type": "number" },
                  "average_revenue": { "type": "number" },
                  "total_revenue": { "type": "number" }
                }
              }
            }
          },
          "outlet_performance": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "outlet_id": { "type": "string", "format": "uuid" },
                "outlet_name": { "type": "string" },
                "total_revenue": { "type": "number", "format": "float" },
                "total_transactions": { "type": "integer" },
                "average_order_value": { "type": "number", "format": "float" },
                "total_products_sold": { "type": "integer" },
                "contribution_percentage": { "type": "number", "format": "float" },
                "revenue_growth": { "type": "number", "format": "float" }
              }
            }
          },
          "top_products": {
            "type": "object",
            "properties": {
              "by_revenue": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "product_id": { "type": "string", "format": "uuid" },
                    "product_name": { "type": "string" },
                    "sku": { "type": "string" },
                    "category_name": { "type": "string" },
                    "total_quantity_sold": { "type": "integer" },
                    "total_revenue": { "type": "number", "format": "float" },
                    "rank": { "type": "integer" }
                  }
                }
              },
              "by_quantity": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "product_id": { "type": "string", "format": "uuid" },
                    "product_name": { "type": "string" },
                    "sku": { "type": "string" },
                    "category_name": { "type": "string" },
                    "total_quantity_sold": { "type": "integer" },
                    "total_revenue": { "type": "number", "format": "float" },
                    "rank": { "type": "integer" }
                  }
                }
              }
            }
          },
          "underperforming_products": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "product_id": { "type": "string", "format": "uuid" },
                "product_name": { "type": "string" },
                "sku": { "type": "string" },
                "category_name": { "type": "string" },
                "total_quantity_sold": { "type": "integer" },
                "total_revenue": { "type": "number", "format": "float" },
                "stock_level": { "type": "integer" },
                "days_without_sale": { "type": "integer" },
                "recommendation": {
                  "type": "string",
                  "enum": ["REVIEW_PRICE", "PROMOTION", "DISCONTINUE", "RESTOCK"]
                }
              }
            }
          },
          "time_pattern": {
            "type": "object",
            "properties": {
              "hourly_distribution": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "hour": { "type": "integer" },
                    "revenue": { "type": "number", "format": "float" },
                    "transaction_count": { "type": "integer" }
                  }
                }
              },
              "peak_hours": {
                "type": "array",
                "items": { "type": "integer" }
              },
              "busiest_day": { "type": "string" },
              "quietest_day": { "type": "string" },
              "insights": {
                "type": "array",
                "items": { "type": "string" }
              }
            }
          },
          "stock_alerts": {
            "type": "object",
            "properties": {
              "low_stock": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "product_id": { "type": "string", "format": "uuid" },
                    "product_name": { "type": "string" },
                    "sku": { "type": "string" },
                    "outlet_id": { "type": "string", "format": "uuid" },
                    "outlet_name": { "type": "string" },
                    "current_stock": { "type": "integer" },
                    "minimum_stock": { "type": "integer" },
                    "days_until_empty": { "type": "integer" }
                  }
                }
              },
              "out_of_stock": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "product_id": { "type": "string", "format": "uuid" },
                    "product_name": { "type": "string" },
                    "sku": { "type": "string" },
                    "outlet_id": { "type": "string", "format": "uuid" },
                    "outlet_name": { "type": "string" },
                    "last_sold_date": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "aov_trend": {
            "type": "object",
            "properties": {
              "labels": {
                "type": "array",
                "items": { "type": "string" }
              },
              "values": {
                "type": "array",
                "items": { "type": "number" }
              },
              "current_aov": { "type": "number", "format": "float" },
              "previous_aov": { "type": "number", "format": "float" },
              "growth_percentage": { "type": "number", "format": "float" }
            }
          },
          "recent_transactions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "transaction_id": { "type": "string", "format": "uuid" },
                "transaction_number": { "type": "string" },
                "outlet_name": { "type": "string" },
                "cashier_name": { "type": "string" },
                "total": { "type": "number", "format": "float" },
                "created_at": { "type": "string", "format": "date-time" }
              }
            }
          },
          "merchant_overview": {
            "type": "object",
            "properties": {
              "merchant_name": { "type": "string" },
              "total_outlets_active": { "type": "integer" },
              "total_employees_active": { "type": "integer" },
              "total_products_active": { "type": "integer" },
              "total_categories": { "type": "integer" },
              "last_ai_analysis": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "ai_available_today": { "type": "boolean" }
            }
          },
          "period_comparison": {
            "type": "object",
            "properties": {
              "current_period": {
                "type": "object",
                "properties": {
                  "start_date": { "type": "string", "format": "date" },
                  "end_date": { "type": "string", "format": "date" },
                  "total_revenue": { "type": "number" },
                  "total_transactions": { "type": "integer" }
                }
              },
              "previous_period": {
                "type": "object",
                "properties": {
                  "start_date": { "type": "string", "format": "date" },
                  "end_date": { "type": "string", "format": "date" },
                  "total_revenue": { "type": "number" },
                  "total_transactions": { "type": "integer" }
                }
              },
              "changes": {
                "type": "object",
                "properties": {
                  "revenue_percentage": { "type": "number", "format": "float" },
                  "transactions_percentage": { "type": "number", "format": "float" },
                  "aov_percentage": { "type": "number", "format": "float" }
                }
              }
            }
          }
        }
      },
      "AdminDashboard": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "object",
            "properties": {
              "today_revenue": { "type": "number", "format": "float" },
              "today_transactions": { "type": "integer" },
              "today_orders": { "type": "integer" },
              "month_revenue": { "type": "number", "format": "float" },
              "month_transactions": { "type": "integer" },
              "average_order_value": { "type": "number", "format": "float" },
              "total_products": { "type": "integer" },
              "total_outlets": { "type": "integer" },
              "total_employees": { "type": "integer" },
              "total_categories": { "type": "integer" }
            }
          },
          "outlet_quick_stats": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "outlet_id": { "type": "string", "format": "uuid" },
                "outlet_name": { "type": "string" },
                "today_revenue": { "type": "number", "format": "float" },
                "today_transactions": { "type": "integer" },
                "month_revenue": { "type": "number", "format": "float" },
                "month_transactions": { "type": "integer" },
                "active_cashiers": { "type": "integer" },
                "total_products": { "type": "integer" },
                "low_stock_count": { "type": "integer" }
              }
            }
          },
          "recent_transactions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "transaction_id": { "type": "string", "format": "uuid" },
                "transaction_number": { "type": "string" },
                "outlet_name": { "type": "string" },
                "cashier_name": { "type": "string" },
                "total": { "type": "number", "format": "float" },
                "created_at": { "type": "string", "format": "date-time" }
              }
            }
          },
          "low_stock_alerts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "product_id": { "type": "string", "format": "uuid" },
                "product_name": { "type": "string" },
                "sku": { "type": "string" },
                "outlet_id": { "type": "string", "format": "uuid" },
                "outlet_name": { "type": "string" },
                "current_stock": { "type": "integer" },
                "minimum_stock": { "type": "integer" }
              }
            }
          },
          "category_distribution": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "category_id": { "type": "string", "format": "uuid" },
                "category_name": { "type": "string" },
                "total_products": { "type": "integer" },
                "percentage": { "type": "number", "format": "float" }
              }
            }
          },
          "today_hourly_sales": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "hour": { "type": "integer" },
                "revenue": { "type": "number", "format": "float" },
                "transactions": { "type": "integer" }
              }
            }
          }
        }
      },
      "AIInsight": {
        "type": "object",
        "properties": {
          "insight_id": {
            "type": "string",
            "format": "uuid"
          },
          "merchant_id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "STOCK_WARNING",
              "RESTOCK",
              "STOCK_TRANSFER",
              "TOP_PRODUCT",
              "UNDERPERFORMING",
              "OUTLET_PERFORMANCE",
              "SALES_TREND",
              "TIME_PATTERN",
              "AOV_TREND"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Waktu analisis terakhir (dipakai untuk cek daily limit)"
          }
        },
        "description": "Hasil analisis AI saat ini (1:1 dengan merchant, tanpa histori)"
      },
      "AIAnalyzeResponse": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["PROCESSING", "COMPLETED", "FAILED"]
          },
          "message": {
            "type": "string"
          }
        }
      },
      "AIInsightLimit": {
        "type": "object",
        "properties": {
          "merchant_id": {
            "type": "string",
            "format": "uuid"
          },
          "last_analyzed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "can_analyze": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SalesTrend": {
        "type": "object",
        "properties": {
          "trend": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "total_sales": {
                  "type": "number",
                  "format": "float"
                },
                "transaction_count": {
                  "type": "integer"
                }
              }
            }
          },
          "summary": {
            "type": "object",
            "properties": {
              "total_revenue": { "type": "number", "format": "float" },
              "average_daily_revenue": { "type": "number", "format": "float" },
              "total_transactions": { "type": "integer" },
              "average_daily_transactions": { "type": "integer" }
            }
          }
        }
      },
      "TimePattern": {
        "type": "object",
        "properties": {
          "patterns": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "hour": { "type": "integer" },
                "revenue": { "type": "number", "format": "float" },
                "transaction_count": { "type": "integer" }
              }
            }
          },
          "peak_hours": {
            "type": "array",
            "items": { "type": "integer" }
          },
          "average_transactions_per_hour": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "AOVTrend": {
        "type": "object",
        "properties": {
          "trend": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "period": { "type": "string" },
                "aov": { "type": "number", "format": "float" },
                "transaction_count": { "type": "integer" }
              }
            }
          },
          "overall_aov": {
            "type": "number",
            "format": "float"
          },
          "aov_change_percentage": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "ProductPerformance": {
        "type": "object",
        "properties": {
          "top_sellers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "product_id": { "type": "string", "format": "uuid" },
                "product_name": { "type": "string" },
                "sku": { "type": "string" },
                "category_name": { "type": "string" },
                "total_sold": { "type": "integer" },
                "total_revenue": { "type": "number", "format": "float" },
                "rank": { "type": "integer" }
              }
            }
          },
          "underperformers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "product_id": { "type": "string", "format": "uuid" },
                "product_name": { "type": "string" },
                "sku": { "type": "string" },
                "category_name": { "type": "string" },
                "total_sold": { "type": "integer" },
                "total_revenue": { "type": "number", "format": "float" },
                "rank": { "type": "integer" }
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/auth/register": {
      "post": {
        "tags": ["Auth"],
        "summary": "Register new merchant and owner account",
        "description": "Creates a new merchant and the first user with OWNER role in one request",
        "operationId": "register",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              },
              "example": {
                "merchant": {
                  "name": "IndoMart Retail"
                },
                "user": {
                  "name": "John Doe",
                  "email": "owner@indomart.com",
                  "password": "SecurePassword123!"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Merchant and owner created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RegisterResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Email already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "Login to system",
        "operationId": "login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              },
              "example": {
                "email": "owner@indomart.com",
                "password": "SecurePassword123!"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/LoginResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": ["Auth"],
        "summary": "Logout from system",
        "operationId": "logout",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Logout successful",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": ["Auth"],
        "summary": "Get current authenticated user",
        "operationId": "getCurrentUser",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "User data retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/merchants": {
      "get": {
        "tags": ["Merchant"],
        "summary": "Get merchant details",
        "operationId": "getMerchant",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Merchant data retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Merchant"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Merchant"],
        "summary": "Update merchant details",
        "operationId": "updateMerchant",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMerchantRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Merchant updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Merchant"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/outlets": {
      "get": {
        "tags": ["Outlet"],
        "summary": "Get all outlets",
        "operationId": "getOutlets",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["ACTIVE", "INACTIVE"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of outlets",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Outlet"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Outlet"],
        "summary": "Create new outlet",
        "operationId": "createOutlet",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOutletRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Outlet created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Outlet"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/outlets/{outletId}": {
      "get": {
        "tags": ["Outlet"],
        "summary": "Get outlet by ID",
        "operationId": "getOutlet",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "outletId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Outlet details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Outlet"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Outlet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Outlet"],
        "summary": "Update outlet",
        "operationId": "updateOutlet",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "outletId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOutletRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Outlet updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Outlet"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Outlet"],
        "summary": "Deactivate outlet",
        "operationId": "deleteOutlet",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "outletId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Outlet deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": ["User"],
        "summary": "Get all users",
        "operationId": "getUsers",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "role",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["OWNER", "ADMIN", "CASHIER"]
            }
          },
          {
            "name": "outlet_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["ACTIVE", "INACTIVE"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/User"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["User"],
        "summary": "Create new user",
        "operationId": "createUser",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error (e.g., cashier without outlet)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "tags": ["User"],
        "summary": "Get user by ID",
        "operationId": "getUser",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["User"],
        "summary": "Update user",
        "operationId": "updateUser",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["User"],
        "summary": "Deactivate user",
        "operationId": "deleteUser",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/categories": {
      "get": {
        "tags": ["Category"],
        "summary": "Get all categories",
        "operationId": "getCategories",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "List of categories",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Category"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Category"],
        "summary": "Create new category",
        "operationId": "createCategory",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCategoryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Category created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Category"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/categories/{categoryId}": {
      "get": {
        "tags": ["Category"],
        "summary": "Get category by ID",
        "operationId": "getCategory",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Category"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Category not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Category"],
        "summary": "Update category",
        "operationId": "updateCategory",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCategoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Category updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Category"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Category"],
        "summary": "Delete category",
        "operationId": "deleteCategory",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category deleted",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "get": {
        "tags": ["Product"],
        "summary": "Get all products with pagination and filters",
        "operationId": "getProducts",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "category_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["ACTIVE", "INACTIVE"]
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by name or SKU",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of products",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Product"],
        "summary": "Create new product",
        "operationId": "createProduct",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Product"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}": {
      "get": {
        "tags": ["Product"],
        "summary": "Get product by ID",
        "operationId": "getProduct",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Product"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Product"],
        "summary": "Update product",
        "operationId": "updateProduct",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Product"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Product"],
        "summary": "Deactivate product",
        "operationId": "deleteProduct",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/inventory": {
      "get": {
        "tags": ["Inventory"],
        "summary": "Get inventory by outlet",
        "operationId": "getInventory",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "outlet_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inventory list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "outlet_id is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/inventory/{inventoryId}": {
      "put": {
        "tags": ["Inventory"],
        "summary": "Update inventory quantity",
        "operationId": "updateInventory",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "inventoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInventoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inventory updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Inventory"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/inventory/bulk": {
      "put": {
        "tags": ["Inventory"],
        "summary": "Bulk update inventory quantities",
        "description": "Update multiple inventory items in one request (Admin only)",
        "operationId": "bulkUpdateInventory",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkUpdateInventoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inventory updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Inventory"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/inventory/transfer": {
      "post": {
        "tags": ["Inventory"],
        "summary": "Transfer stock between outlets",
        "description": "Move stock from one outlet to another (Admin only)",
        "operationId": "transferInventory",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryTransferRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stock transferred successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "from_inventory": {
                              "$ref": "#/components/schemas/Inventory"
                            },
                            "to_inventory": {
                              "$ref": "#/components/schemas/Inventory"
                            },
                            "transferred_quantity": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Insufficient stock or invalid transfer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/inventory/outlet/{outletId}/product/{productId}": {
      "get": {
        "tags": ["Inventory"],
        "summary": "Get inventory by outlet and product",
        "operationId": "getInventoryByOutletProduct",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "outletId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inventory details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Inventory"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Inventory not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/inventory/low-stock": {
      "get": {
        "tags": ["Inventory"],
        "summary": "Get low stock alerts across all outlets",
        "description": "List products with stock below minimum threshold (Admin only)",
        "operationId": "getLowStockAlerts",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "outlet_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "threshold",
            "in": "query",
            "description": "Custom threshold (default: 10)",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Low stock alerts",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "inventory_id": { "type": "string", "format": "uuid" },
                              "product_id": { "type": "string", "format": "uuid" },
                              "product_name": { "type": "string" },
                              "sku": { "type": "string" },
                              "outlet_id": { "type": "string", "format": "uuid" },
                              "outlet_name": { "type": "string" },
                              "current_stock": { "type": "integer" },
                              "threshold": { "type": "integer" }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/cart": {
      "get": {
        "tags": ["Cart"],
        "summary": "Get current user's cart",
        "description": "Returns the active cart for the authenticated cashier",
        "operationId": "getCart",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Cart details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Cart"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Cart not found (new cart will be created on add)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cart/items": {
      "post": {
        "tags": ["Cart"],
        "summary": "Add item to cart",
        "description": "Add a product to the current cart (Cashier only)",
        "operationId": "addToCart",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddToCartRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item added to cart",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Cart"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Insufficient stock or invalid product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cart/items/{cartItemId}": {
      "put": {
        "tags": ["Cart"],
        "summary": "Update cart item quantity",
        "operationId": "updateCartItem",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "cartItemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCartItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cart item updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Cart"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Cart"],
        "summary": "Remove item from cart",
        "operationId": "removeFromCart",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "cartItemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item removed from cart",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Cart"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/cart/clear": {
      "delete": {
        "tags": ["Cart"],
        "summary": "Clear all items from cart",
        "operationId": "clearCart",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Cart cleared",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Cart"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "tags": ["Transaction"],
        "summary": "Get transactions with filters and pagination",
        "operationId": "getTransactions",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "outlet_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "cashier_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Transaction"],
        "summary": "Create new transaction (checkout)",
        "description": "Creates a transaction from cart or direct items",
        "operationId": "createTransaction",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Transaction"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Insufficient stock or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{transactionId}": {
      "get": {
        "tags": ["Transaction"],
        "summary": "Get transaction by ID",
        "operationId": "getTransaction",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details with items",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Transaction"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{transactionId}/cancel": {
      "post": {
        "tags": ["Transaction"],
        "summary": "Cancel transaction and restore stock",
        "operationId": "cancelTransaction",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "transaction_id": { "type": "string", "format": "uuid" },
                            "status": { "type": "string", "enum": ["CANCELLED"] },
                            "restored_stock": { "type": "boolean" }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Transaction cannot be cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dashboard/owner": {
      "get": {
        "tags": ["Dashboard Owner"],
        "summary": "Get complete Owner dashboard data",
        "description": "SINGLE ENDPOINT for Owner dashboard - returns all data in one response",
        "operationId": "getOwnerDashboard",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["TODAY", "THIS_WEEK", "THIS_MONTH", "THIS_QUARTER", "THIS_YEAR"],
              "default": "THIS_MONTH"
            }
          },
          {
            "name": "outlet_id",
            "in": "query",
            "description": "Filter by specific outlet (optional)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Owner dashboard data",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/OwnerDashboard"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Only Owner can access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dashboard/admin": {
      "get": {
        "tags": ["Dashboard Admin"],
        "summary": "Get Admin dashboard data",
        "description": "Dashboard for Admin - operational management overview",
        "operationId": "getAdminDashboard",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "outlet_id",
            "in": "query",
            "description": "Filter by specific outlet (optional)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date for dashboard (default: today)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Admin dashboard data",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AdminDashboard"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Only Admin and Owner can access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/analytics/sales-trend": {
      "get": {
        "tags": ["Analytics"],
        "summary": "Get sales trend data",
        "operationId": "getSalesTrend",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "outlet_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["DAILY", "WEEKLY", "MONTHLY"],
              "default": "DAILY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sales trend data",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SalesTrend"
                        }
[...]
